body{
    display : flex ;
    flex-direction : column ;
    justify-content : center;
}
#contenedorDeFotos{
    display : flex ;
    flex-direction : column ;
    justify-content : center;
    max-width: 95vw;
    margin: 20px;
}
.tarjetaFoto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;    
    border-width : 3px;
    border: 1px solid grey;
    border-radius : 20px;
    margin: 30px;
    padding: 30px;

}
.listaDescriptiva{
    display: flex;
    justify-content: center;
   max-width: 700px;
   left: 200px;
    
}
ol{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
li{
   
    border: 1px solid grey;
    border-radius: 10px ;
    padding: 10px;
    list-style: none;
}
.contenedorDeBotones button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;   
}


ul {
    list-style: none;
}


#form1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

#form1 button{
    
    border-radius: 5px;
}
#form1 .select{
    display: flex;
    flex-direction: row;
}


button{
    background-color:rgb(132, 195, 255);
    border-radius: 5px;
}

body{
    padding-left: 20px;
}
#barraEstado{
    display: flex;
    justify-content: center;
    max-width: 100px;
    max-height: 30px;
    border-radius: 5px;
    background-color: rgb(132, 195, 255);
    padding: 10px;

}